  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    background-color: burlywood;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 500px;
    float: center;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  .btn{
    color: white;width:500px;font-size: 20px;align-items: center;justify-content: center;
  }
  .background{
    background-image: url(BFE_background_writer.jpeg);
    width: 100%;
  }
