    .selected {
      background-color: #CFD8DC !important;
      color: white;
    }
    .books {
      margin: 0 0 2em 0;
      list-style-type: none;
      padding-left: 300px;
      width: 25%;
    }
    .books li {
      cursor: pointer;
      position: relative;
      background-color: blanchedalmond;
      margin: .5em;
      padding: .3em 0;
      height: 1.6em;
      border-radius: 4px;
    }
    .books li.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }
    .books li:hover {
      color: #607D8B;
      background-color:lightsalmon;
      left: .1em;
    }
    .books .text {
      position: relative;
      top: -3px;
    }
    .books .badge {
      display: inline-block;
      font-size: small;
      color: white;
      padding: 0.8em 0.7em 0 0.7em;
      background-color:lightsalmon;
      line-height: 1em;
      position: relative;
      left: -1px;
      top: -4px;
      height: 1.8em;
      margin-right: .8em;
      border-radius: 4px 0 0 4px;
    }

    .background{
      background-image: url('BFE_background_books.jpeg');
        width: 100%;
      }
      button {
        background-color: burlywood;
        color: white;
        padding: 10px 15px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 500px;
        float: center;
      }
    
      button:hover {
        opacity: 0.8;
      }

      .btn{
        color: white;width:18%;font-size: 20px;align-items: center;justify-content: center;
      }